@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightest-shade: #fbfafb;
  --lighter-shade: #a8b5cf;
  --light-shade: #c2cee5;
  --light-accent: #164dc1;
  
  --main-brand: #828da2;

  --dark-accent: #0d3282;
  --dark-shade: #2a394e;
  --darker-shade: #1e2837;
  --darkest-shade: #101721;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.dark {
  --lightest-shade: #101721;
  --lighter-shade: #1e2837;
  --light-shade: #2a394e;
  --light-accent: #0d3282;

  --dark-accent: #164dc1;
  --dark-shade: #c2cee5;
  --darker-shade: #a8b5cf;
  --darkest-shade: #fbfafb;

}



.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}
